body {
    overflow: auto;
}

body > div {
    padding: 0px 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

table {
	background-color: #F9F9F9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-family: Open Sans,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
	margin: 30px;
}

table th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Open Sans,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
}
table td {
	padding: 8px;
	text-align: center;
}

#table_gas {
	width:1045px;
	font-size: 14px;
	margin-left: 90px;
}
#table_gas td {
	font-size: 14px;
	border: 1px solid #DFDFDF;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}

#table_trash {
	display: inline;
	width:950px;	
}
#table_trash td {
	font-size: 14px;
	border-top-color: white;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}
#table_trashWFSense {
	display: inline;
	width:auto;
	font-size: 14px;
}
#table_trashWFSense td {
	font-size: 14px;
	border-top-color: white;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}
#table_smartphones {
	display: inline;
	width:2150px;
	font-size: 12px;
}
#table_smartphones td {
	font-size: 12px;
	border-top-color: white;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}
#table_mac {
	display: inline;
	width:1500px;
	font-size: 12px;
}
#table_mac td {
	font-size: 12px;
	border-top-color: white;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}
#table_eventos {
	display: inline;
	width: 680px;
}
#table_eventos td {
	font-size: 14px;
	border-top-color: white;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}#table_traffic {
	display: inline;
	width: 620px;
}
#table_traffic td {
	font-size: 14px;
	border-top-color: white;
	/*border-bottom: 1px solid #DFDFDF;*/
	color: rgba(83, 81, 81, 1);;
	border-right: 1px solid #DFDFDF;
}